
  <div class="conversation">
    <% @messages.each do |message| %>
      <% if message.user == current_user %>
        <% if message.body %>
          <div class="sentmessage">
            <h4>You:</h4>
            <p><%= message.body %></p>
          </div>
        <% end %>
      <% else %>
        <% if message.body %>
          <div class="receivedmessage">
            <h4><%= message.user.username %></h4>
            <p><%= message.body %></p>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
  
  <%= form_for [@conversation, @message] do |f| %>
    <div class="field yourmessage">
      <%= f.text_area :body, class: "messagebox", placeholder: "Your message" %>
    </div>
  
    <%= f.submit "Send" %>
  <% end %>

<p><%= link_to "Back to inbox", conversations_path %></p>
<p>Visit their profile: <%= link_to @conversation.recipient(current_user).username, user_profile_path(@conversation.recipient(current_user)) %></p>