
<div class="profile_banner">

  <h1><%= @user.username %>'s Profile Page</h1>

  <% if current_user == @user %>

    <p>Welcome back, <%= @user.username %>!</p>

    <p><%= link_to "View your location page", location_path(@user.location), class: "location" %></p>

    <% if @sold.count >= 1 %>
      <ul>
      <p>All of your sold items:</p>
      <% @sold.each do |item| %>
      <li><%= link_to item.name, bucket_item_path(item.bucket, item) %></li>
      </ul>
    <% end %>
    <% end %>
  <% end %>
</div>

<div class="profile">

<p>Username: <%= @user.username %></p>
<p>Joined Streetlight on: <%= (@user.created_at).to_s.split(" ")[0] %></p>
<div class="bucket_card">
  <h2>All of <%= @user.username %>'s current buckets:</h2>
</div>

<div class="user_buckets">
  
  <% @user.buckets.each do |bucket| %>
  <div class="bucket_card">
    <div>
      <p class="title"><%= link_to bucket.name, bucket_path(bucket) %></p>
    </div>
    <div>
      <p>"<%= bucket.description %>"</p>
    </div>
    <div>
      <p>Contents: <%= bucket.items.count %> items</p>
    </div>
  
  </div>
  <% end %>

</div>
</div>





