

<h1><%= @user.username %>'s Profile Page</h1>
<% if current_user == @user %>

<p>Welcome back, <%= @user.username %>!</p>

<p><%= link_to "View your location page", location_path(@user.location) %></p>

<% end %>

<div class="profile">

<p>User: <%= @user.username %></p>
<p>Joined Streetlight on: <%= @user.created_at %></p>

<div class="user_buckets">
  <% @user.buckets.each do |bucket| %>
  <div class="card">
    <div>
      <p><%= link_to bucket.name, bucket_path(bucket) %></p>
    </div>
    <div>
      <p><%= bucket.description %></p>
    </div>
  
  </div>
  <% end %>

</div>
</div>





