<table>
    <tr>
      <th>Name</th>
      <th>User</th>
      <th>Description</th>
    </tr>
    
    <% @buckets.each do |bucket| %>
    <tr>
      <td><p><%= link_to bucket.name, bucket_path(bucket) %></p></td>
      <td><%= link_to bucket.user.username, user_profile_path(bucket.user) %></td>
      <td><p><%= bucket.description %></p></td>
    </tr>
    <% if bucket.user == current_user %>
    <tr>
      <td><%= link_to "Delete this bucket", bucket_destroy_path(bucket), :data => {:confirm => 'Are you sure?  This will delete any items in the bucket too.'} %></td>
      <td><%= link_to "Edit this bucket", edit_bucket_path(bucket) %></td>
    </tr>
    <% end %>
    <% end %>
  </table>