<%= render 'shared/errors', object:@bucket %>

<h1>Create a new bucket!</h1>

<%= form_with model: @bucket, local: true do |f| %>

<div class="form">

  <p><%= f.text_field :name, placeholder: "Enter a bucket name" %></p>
  <p><%= f.text_area :description, placeholder: "Enter a bucket description" %></p>
  <p><%= f.submit %></p>

</div>

<% end %>