<h1><%= @bucket.name %></h1>

<p><%= @bucket.description %></p>

<% if @bucket.items.count > 0 %>

  <table>
    <tr>
      <th>Item name</th>
      <th>Brand</th>
      <th>Description</th>
      <th>Price</th>
      <th>Returns Policy</th>
    </tr>
  <% @bucket.items.each do |item| %>

    <tr>
      <td><%= item.name %></td>
      <td><%= item.brand %></td>
      <td><%= item.description %></td>
      <td><%= item.price %></td>
      <td><%= item.returnable %></td>
    </tr>


  <% end%>
  </table>

  <% else %>

  <p><%= @bucket.name %> has no items yet!</p>
<% end %>


