<h1><%= @bucket.name %></h1>

<p><%= @bucket.description %></p>

<% if @bucket.items.count > 0 %>
  <% @bucket.items.each do |item| %>
    <% if item.sold == false %>

    <div class="card">
      <div>
        <p><%= link_to item.name, bucket_item_path(@bucket, item.id) %></p>
        <p><%= item.brand %></p>
        <p><%= number_to_currency(item.price) %></p>
        <% if (item.bucket.user == current_user) %>
        <p><%= link_to "Delete this item", bucket_item_destroy_path(@bucket.id, item), data: {confirm: 'Are you sure you want to delete this item?'} %></p>
        <p><%= link_to "Edit this item", edit_bucket_item_path(@bucket.id, item) %></p>
        <% end %>
      </div>
      <div>
        <p><%= item.description %></p>
        <p><%= item.returnable %></p>
      </div>
    </div>
    <% end %>
  <% end%>
  <%= link_to "Add an item", new_bucket_item_path(@bucket) %>
  <% else %>

  <p><%= @bucket.name %> has no items yet!  <%= link_to "Add some now!", new_bucket_item_path(@bucket) %></p>
<% end %>


