<h1>All of your buckets</h1>

<% if @buckets != nil %>
<div class="user_buckets">
 
  <% @buckets.each do |bucket| %>

  <div class="bucket_card">
    <div>
      <td><p><%= link_to bucket.name, bucket_path(bucket) %></p></td>
      <td><p><%= bucket.description %></p></td>
    </div>
    <div>
      <td><%= link_to "Delete this bucket", bucket_destroy_path(bucket), :data => {:confirm => 'Are you sure?  This will delete any items in the bucket too.'} %></td>
      <td><%= link_to "Edit this bucket", edit_bucket_path(bucket) %></td>
    </div>
  </div>
  <% end %>
  

</div>
<% else %>
  <p>You have no buckets yet!</p>
<% end %>
<p><%= link_to "Create a new bucket!", new_bucket_path, class: "button is-link" %></p>

