<h1>All of your buckets</h1>

<% if @buckets != nil %>

<div class="user_buckets">
 
  <% @buckets.each do |bucket| %>

  <div class="bucket_card">
    <div>
      <p><%= link_to bucket.name, bucket_path(bucket) %></p>
      <p>"<%= bucket.description %>"</p>
    </div>
    <% if (bucket.user == current_user) || (current_user.has_role?(:admin)) %>
    <div class="edit_destroy">
      <p><%= link_to "Delete", bucket_destroy_path(bucket), :data => {:confirm => 'Are you sure?  This will delete any items in the bucket too.'}, class: "button is-link" %></p>
      <p><%= link_to "Edit", edit_bucket_path(bucket), class: "button is-link" %></p>
    </div>
    <% end %>
  </div>
  <% end %>
</div>
<% else %>
  <p>You have no buckets yet!</p>
<% end %>
<p class="new_bucket"><%= link_to "Create a new bucket!", new_bucket_path, class: "button is-link" %></p>

