<h1><%= @item.name %></h1>

<p>Description: <%= @item.description %></p>
<p>Price: <%= link_to (number_to_currency @item.price), new_order_path(@item) %></p>
<p>Brand: <%= @item.brand %></p>
<p>Returns policy: <%= @item.returnable %></p>

<p><%= image_tag @item.image, width: 500 if @item.image.attached? %></p>

