<%= link_to("Send payment now", new_order_path(@item), class: 'button is-link payment') %>

<div class="item">
  <h1><%= @item.name %></h1>
  <p>Description: <%= @item.description %></p>
  <p>Price: <%= link_to (number_to_currency @item.price), new_order_path(@item) %></p>
  <p>Brand: <%= @item.brand %></p>
  <div class="iteminfo"><p>Returns policy: <%= @item.returnable %></p></div>
  
  <% if current_user == @item.bucket.user || current_user.has_role?(:admin) %>
  <p><%= link_to "Edit this item", edit_bucket_item_path(@item.bucket, @item), class: "button is-link" %></p>
  <p><%= link_to "Delete this item", bucket_item_destroy_path(@item.bucket, @item), :data => {:confirm => 'Are you sure?'}, class: "button is-link" %></p>
  <% end %>
</div>
<% if @item.tagwords.count >= 1 %>
  <div class="tagwords">
    <p>Tagwords:</p>
    <div>
      <% @item.tagwords.each do |tag| %>
        <%= tag.tag %><%= current_user == @item.bucket.user ? (link_to "(x)", tagword_remove_path(@item.bucket, @item, tag)) : '' %><%= ", " %>
      <% end %>
    </div>
  </div>
<% end %>

<% if @item.bucket.user == current_user %>

<div class="tagword_new">
  <%= form_with scope: :tagword, method: 'post', controller: 'tagwords', action: 'create', local: true do |f| %>

    <%= f.text_field :tag, placeholder: "New Tagword" %>
    <%= f.submit %>

  <% end %>
</div>

<% end %>

<span class="item_image"><%= image_tag @item.image if @item.image.attached? %></span>
