<div class="userlocation">

<p><%= current_user.username %>'s home location:</p>

<p>Your address: <%= @location.address %></p>
<p>Latitude: <%= @location.latitude %></p>
<p>Longitude: <%= @location.longitude %></p>

</div>

<%= link_to "Edit your address", edit_location_path(@location), class: "button is-link editaddress" %>


  
  