<h1>Locations#show</h1>
<p>Find me in app/views/locations/show.html.erb</p>

<%= @location.address %>
<div id="map">

</div>

<%= link_to "Edit your address", edit_location_path(@location) %>

<script>

  var users = <%= @users.to_json.html_safe %>
  
  var place = <%= @location.to_json.html_safe %>
  var places = <%= @locations.to_json.html_safe %>;
  var iconBase = 'https://maps.google.com/mapfiles/kml/shapes/';
  let locations = [];
  var people = [];
  
  function initMap(lat, lng) {
    var myCoords = new google.maps.LatLng(lat, lng);
    var mapOptions = {
      center: myCoords,
      zoom: 15
    }
  
    var map = new google.maps.Map(document.getElementById('map'), mapOptions);
    
    for (var i = 0; i < places.length; i++) {
        locations.push({lat: places[i].latitude, lng: places[i].longitude, id: (places[i].id)}),
        people.push({user: users[i], id: users[i].id})
    }
    
  
  
    var markers = locations.map(function(location, i) {
      if (location.lat != <%= @location.latitude %> && location.lng != <%= @location.longitude %>) {
        return addMarker(location, map)
      } else {
        return new google.maps.Marker({
        position: location,
      })
    }
  })
      
      var markerCluster = new MarkerClusterer(
        map,
        markers,
        {
          imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m', 
          clusteringOptions: {
            eps: 10,
          }
        }
      )
  
  }
  
  function addMarker(place, map) {
    place.lat += Math.random() * (0.0015 - 0.001) + 0.0001;
    place.lng += Math.random() * (0.0015 - 0.001) + 0.0001;
    var marker = new google.maps.Marker({
      position: { lat: place.lat, lng: place.lng},
      map: map,
      icon: "https://upload.wikimedia.org/wikipedia/commons/c/ca/1x1.png"
    });
    var infowindow = new google.maps.InfoWindow({
      content: "<em>" + people[place.id].user.email + "</em>"
    });
  
    var circle = new google.maps.Circle({
      map: map,
      clickable: true,
      fillColor: '##3d94ff',
      radius: 75,
    });
  
    circle.bindTo('center', marker, 'position')
    infowindow.bindTo('center', marker, 'position')
  
    map.addListener('click', function() {
      infowindow.close(map)
    });
  
    circle.addListener('click', function() {
      map.setCenter(marker.getPosition());
      infowindow.open(map, marker)
    });
  
    return marker
  }
  
  document.addEventListener("DOMContentLoaded", function(){
      initMap(<%= @location.latitude %>, <%= @location.longitude %>)
  });
  
  </script>
  
  <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js" >
  </script>
  
  