<!DOCTYPE html>
<html>
  <head>
    <title>Streetlight</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag 'https://maps.googleapis.com/maps/api/js?key='+Rails.application.credentials.google_maps_api_key %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield(:head_tags) %>
  </head>

  <body>
    <% if current_user %>
    <div class="navbar">
      <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: "button is-link navlink" %>
      <%= link_to 'Browse', buckets_path, class: "button is-link navlink" %>
      <%= link_to 'Your items', user_buckets_path, class: "button is-link navlink" %>
      <%= link_to 'Your inbox', conversations_path, class: "button is-link navlink" %>
      <%= link_to 'Your profile', user_profile_path(current_user), class: "button is-link navlink" %>
    </div>
    <% else %>
    <div class="navbar">
      <%= link_to 'Sign up', new_user_registration_path, class: "button navlink" %>
      <%= link_to 'Sign in', new_user_session_path, class: "button navlink" %>
    </div>
    <% end %>
      
    <%= render 'layouts/alerts' %>
    <div class="bodycontent">
    <%= yield %>
  </div>
  </body>
</html>
